/*
  (총 width - 여백수(item개수-1) *여백witdh ) / item수= item width
     ex) 300 - 2*20px /3 = bot width size(86.666)
 */

#div4{
    border:1px solid; width: 300px; height: 200px;
}
#div4 div{
    display: inline-block; width: 86.666px; height: 100px; background-color: red; /* 인라인 블록으로 변경 (가로배치 사이즈 조정 가능)*/
   margin-right: 20px;
}
/* 3의 배수 자식에게 지정 */
#div4 div:nth-child(3n) {
    margin-right: 0;
}

/* 
#div4 div:nth-of-type(1){ 
    margin-right: 7.5px;
}
#div4 div:nth-of-type(2){ 
    margin-right: 7.5px;
} */

/* 
마지막 부터 카운팅
#div4 div:nth-last-of-type(1){ 
     margin-right: 0;
    background-color: aqua;   
} */



#span {
    background-color: gold; width: 200px; margin:auto;
    text-align: right; display: block;
}

#div2{ width: 100px; height: 100px; background-color: red; margin: auto;  /*모든 싸이튼는 auto  가운대 정렬*/
    
}
#div3{
   width: 200px; height: 200px; background-color: green 
}
#div3 > div{
    margin: auto; width: 50px; height: 50px; background-color: gold;;
}

#div1{
    background-color: goldenrod;
    width :300px; height: 300px;
    border: 15px solid navy;
    /* margin: 20px 0 0 0;   시계 방향으로 밀어내기 */
    margin: 25px 25px; /*1개일 때는 4군대  2개 일떄는 위쪽과 아래쪽, 외쪽과 오른쪽*/
    margin-top: 100px;  /*개별지정*/

    /* 패딩 안쪽으로 얼마나 밀어 낼거냐 */
    padding: 100px; 
    padding-top: 100px;
}