#login{
    display: none;
    width :360px; height: 230px;
    box-shadow: 0 0 8px lightgray;
    border-radius: 10px;
}
 
/* 클래스 . 으로 접근 */
#login > .title{
    /* background-color: bisque; */
   text-align: center;
    letter-spacing: 5px;
    font-size: 25px;
    border-bottom: 3px dotted olive;
    width : 220px;
    margin: auto;
    padding: 10px 0;
    color : darkcyan

}
#login > form {
    /* background-color:  aquamarine; */
    width : 270px;
    /* 태그 가운대로 이동 */
    margin: auto;
}
#login > form > input {
    color : gray;
    font-size: 20px;
    margin-top: 30px;
    border: none;
    /* 클릭시 테두리 생성 */
    outline: none;
    border-bottom: 2px solid lightgrey;
    letter-spacing: 3px; 
    /* 폼테그 만큼 늘리기 */
    width : 100%;
    &:focus{
        border-bottom:  2px solid darkgray;
    }
}

#login > form > button {
     margin-top: 20px;
     width : 100%; height: 30px;
     border: none;

     /* 라운드 주기 */
     border-radius: 5px;
     font-size: 15px;
     /* 글자 굵기 */
     font-weight: bold;
     /* 커서 손가락 모양 */
     cursor: pointer;
     background-color: lightgrey;
     /* 버튼에 커서가 가면 변경 */
     &:hover{
        background-color: gray;
        box-shadow: 0 0 2px black;
     }

}

#div1 {
    width: 100px; height: 100px; background-color: gray;
    color:white;font-size: 20px;
    /* 새도우 익히기 */
    /* 오른쪽(음수일시 왼쪽) 과 아래쪽 뿌였기 색상 */
    text-shadow: 5px 5px 10px black;
    box-shadow: -5px 5px 1px red;
}
#div1:active{
    color:blue;
    background-color: aquamarine;
}

img{
    width: 100px; height: 100px;
    & > hover
    {
        box-shadow: -5px 5px 1px black;
    }
}
/* img:hover{
        box-shadow: -5px 5px 1px black;
} */