*{margin:0; padding: 0; box-sizing;}

#main {
    width: 700px; margin: 100px auto;
    /* border: 1px solid; */
}
#section_1{
    display: flex;
    /* 자식의 크기를 고정으로 보장해 준다 wrap */
    flex-wrap:  wrap;
}
#section_1 > div {
    border: 1px solid gray;
    width: 152.5;
    height: 200px;
    margin-top: 20px;
    margin-right: 30px;
    &:nth-of-type(4n) {
        margin-right: 0;
    }
}
/* 
 여백 계산
 (700 - 3 * 30px) /4 =152.5
*/

#section_1 > div:nth-of-type(1) .img {
    width: 130px;height: 150px;
    background-image: url("융프라웅.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin: 0 auto;
}
#header_wrap{
    width: 100%; background-color: brown;
    position:  fixed; top:0;
}

#header {
    width: 700px;height: 100px;
    /* background-color: antiquewhite; */
    display: flex;margin: 0 auto;
}
#title_logo{
  /* background-color: aquamarine; */
  width: 100px;   
  border-radius: 100px;
  background-image: URL("융프라웅.jpg");
  background-size: cover;
}
#title_logo > div {
    color : white; margin-top: 25px;
    text-align: center;
    animation: title 0.8s infinite;
}
@keyframes title{
    25%{color:aquamarine}
    50%{color:red}
    70%{color:blue}
}

#nav{
    display: flex;
    /* 배치 양쪽끝으로*/
    justify-content: space-between;
    width: 600px;
    background-color: brown;
}
#nav ul {list-style: none; display: flex;
 /* 가운데 배치 */
    align-items: center;
}
#nav ul li {margin: 0 10px;}
#nav ul li a {
    text-decoration: none;
    color: wheat;
    font-size: 20px;
    &:hover{
        color: orange; 
        /* 밑줄만들기 */
        border-bottom: 2px solid orange;
        /* 밑중 아래 간격 */
        padding-bottom: 5px; transition:  0.25s;
    }

}
#nav ul:nth-of-type(2) a {
    font-size: 13px; color: lightgray;
}
#srr {
    font-size:  50px;
    position: absolute;
    top: 200px; left: -20%;
    opacity: 0;
    animation: srr 2s;
    /*  */
    animation-fill-mode: forwards;
}
@keyframes srr {
    25%{color:aqua;opacity: 0.25;}
    50%{color:purple;opacity: 0.5;}
    75%{color:lime;opacity: 0.75;}
    100%{color:lime;opacity: 0.2; left: 50%;}
    
}
#section_2 {
    margin-top: 20px;
}
#section_2 ul {list-style: none;display: flex;flex-wrap: wrap;}
#section_2 ul a {text-decoration: none; color: chocolate;
    &:hover {color:black; border-bottom:  2px dotted; padding-bottom:  4px;}
}
.list {
    text-align: center;
    margin-top: 50px;
    display: none;
}
#section_2 ul li {
    width: 140px; height: 140px;border :1px solid;
    background-image: url("융프라웅.jpg");
    background-size: cover;
    &:hover {
        background-color: lightblue;
        /* 이미지 제거 효과 */
        background-image: url();
        .list{display: block;}
    }
}