#wrap{
    width:1200px; height: 500px; border: 1px solid; margin:auto;
}
#wrap div{
    display: inline-block;
    width:216px; height: 216px; background-color: aqua;
    background-size: cover;
    margin-right: 30px;
    &:last-of-type(1){
        margin-right: 0px;
    }
    &:hover > span {
        color: red;
        opacity: 0.8;
        transition: all 1s;
    }
    /* &:hover{
        & > span {
            color: orangered;
        }
    } */
}

#wrap div:nth-of-type(1) {
    background-image: URL("134099831372289464.jpg");
}

#wrap span{
 opacity: 0.1;  /*투명도*/ 
 margin: auto; 
 display: block;
 width: 100px;
 margin-top: 100px;
 font-size: 30px;
 text-align: center;
 border:5px solid gray;
 border-radius: 10px;
 color: brown;
}  
