ul {margin:0;padding:0; } 

li{
     
    list-style: none;
    width: 100px;
    text-align: center;
    height: 40px; line-height: 40px;
}
.menu1 {
    /* height:  120;
    border: 1px solid;
    border-radius: 15px;
    display: none; */
        height:  0;
    overflow: hidden;
 margin-left: 100px;
 margin-top: -40px;
 width: 100px;
 background-color: aqua;
    
}
/* 메뉴에 li 마우스가 올라가면 거기에 있는 menu1 의 것을 표시하라 */
/* #menu li:hover .menu1{
    height: 120px;
    border: 1px solid;
    border-radius: 15px;
    transition: 0.5s;
} */

 #menu li:hover .menu1 {
    height: 120px; border: 1px solid;border-radius: 15px;
 }

#nav {
    width :400px; background-color: cadetblue;
}

/* .menu1:hover li{
    height: 120px;
    transition: 0.5s;
}
.menu2:hover li{
    height: 120px;
    transition: 0.5s;
} */


/* #nav {
    display: flex;
    background-color: yellow;

} */