#div1 {
    width: 1200px;
    height: 1000px;
    border: 1px solid;
    /* border-color: black;
    border-style: solid; */
}

#div1 div {
    text-align: center;
    padding-top: 100px;
    background-image: url("278243925tmlm.jpg");
    background-position: 0px 0px; /*왼쪽과 위쪽 위치변경*/
    background-repeat: no-repeat;
    background-size: 213px 1000px;
    /* background-size: 214px  214px; */
    display: inline-block;
    color:  red;
    width: 213px;
    margin-right: 30px;
    height: 1000px;

}
#div1 div:nth-last-child(1){
    margin-right: 0px;
}

#div1 > div:hover{  
  background-color: blue;
  background-size: 213px 1000px;
  color:greenyellow;
}